<div class="container">
  <div class="row">
    
      <app-navigation></app-navigation>
  

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="userAdded">User added button clicked</div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
