.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.home{
  /* background-image: url('../../assets/img/pexels-arshad-sutar-1749303.jpg'); */
  display: flex;
  width: 50vw;
  height: 50vh;
  margin-top: -300px;
  /* float: left; */
}
img {
    width: 700px;
    height: 600px;
    /* object-fit: cover;  */
}

.contenido{
    display: flex;
    width: 50vw;
    height: 50vh;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;

}
h1{
    font-size: 60px;
    color: rgb(7, 6, 6);
    text-shadow: 1px 1px 1px #FFF;
}
h1:hover{
    color: rgb(7, 6, 6);
    text-shadow: 1px 1px 1px #FFF;
}
button{
    background-color: rgb(11, 62, 172);
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button :hover{
    background-color: rgb(11, 62, 172);
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
